---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Victory Memorial">
	<main>
		<h1>About Victory Memorial</h1>
		<p>Learn about the history and significance of Victory Memorial.</p>
	</main>
</Layout>
