---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact - Victory Memorial">
	<main>
		<h1>Contact Us</h1>
		<p>Get in touch with Victoy Memorial administration.</p>
	</main>
</Layout>
